<div class="container">
  <h1>Survey Pearl</h1>
  <a href="/surveys/create">Create a survey</a>
  <ul class="index">
    <li>
    <%@surveys.each do |survey|  %>
    <div id='<%= survey.id %>'>
      <p><%= survey.title %> </p>
      <p><a href='/take/'<%= survey.id %>>Take this survey</a><form class='delete-survey' data-surveyid='<%= survey.id %>' action='/surveys/<%= survey.id %>/delete' method='POST'><input type='submit' value='Delete!'>
      </form></p>
      <hr>
    </div>
    <%end%>
    </li>
  </ul>
</div>



